<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.OnCafe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="On Cafe"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Loading1"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".Waiter.new_trial"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
         />





        <activity
            android:name=".Waiter.orderTabs"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Splash"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".SaveIp"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Management.LoginPage"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Waiter.Tables"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Waiter.WaiterHome"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Waiter.HistoryRecords"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Management.ManagerCategory"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Management.ManagerFoodMenu"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Waiter.ServerFileTransfer"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Waiter.WaiterCategoryMenu"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Waiter.WaiterFoodMenu"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Management.ManagerActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Management.ChangePassword"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />


    </application>

</manifest>
